* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: Raleway-Regular;

}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
  }
@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Light;
    src: url(../fonts/Raleway-Light.ttf);
}
  
a:hover {
    text-decoration: none;
}
/********************** Header ****************/
.header{
    width: 100%;
    float: left;
    padding: 15px 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 20px;
}
.nav-item a{
    color: #000000;
    font-size: 16px;
}
.nav-item .skin_med_shop{
    background-color: #e6c2c3;
    color: #fff !important;
    display: block;
    padding: 18px 50px !important;
    font-family: Raleway-SemiBold;
}
.banner{
    width: 100%;
    position: relative;
    float: left;
    background: url(../img/banner.png);
    background-size: cover;
    padding: 30px 0;
}
.bannerbtn{
    width: 100%;
    float: left;
    display: table;
}
.fixedbutton{
    float: right;
    position: fixed;
    right: 9%;
    z-index: 99;
}
.navbar{
    padding: 0;
}
.fixedbutton ul{
    list-style: none;
    float: right;
}
.fixedbutton ul li{
    padding-top: 10px;
}
.fixedbutton ul li a{
    color: #fff;
    width: 245px;
    height: 60px;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-family: Raleway-Bold;
}
.afsp{
    font-size: 10px;
}
.color_pink{
    background: #d4989a;
}
.color_black{
    background: #000000;
}
.color_green{
    background: #1fa600;
}
.fa-whatsapp{
    position: relative;
    top: 6px;
    right: 4px;
}
.prijs{
    position: relative;
    top: 8px;
}
.welcomeav62{
    width: 100%;
    float: left;
    padding-top: 300px;
    padding-bottom: 100px;

}
.welcomeav62 h2{
    background: #d4989a;
    opacity: 0.72;
    display: table;
    padding: 30px 50px;
    font-size: 30px;
    line-height: 45px;
    color: #000;
    font-family: Raleway-Medium;
    z-index: 9;
}

/********************** Onze Behandelingen (Product Section) ****************/
.productSection{
    width: 100%;
    float: left;
    padding: 50px 0;
}
.onze{
    font-family: Raleway-Medium;
    color: #010101;
    font-size: 24px;
    text-align: center;
}

.row_container {
    display: flex; /* equal height of the children */
    padding-top: 20px;
    text-align: center;
  }
  .productItem {
    flex: 1; /* additionally, equal width */
    margin: 10px;
  }
  .row_container p{
    padding-top: 20px;
  }
  .productItem img{
    width: 100%;
    filter: grayscale(1);
  }
  .productItem img:hover{
    filter: none;
  }
 .productItem ul {
    display: flex;
    padding: 0;
    margin: 0;
    }
.productItem li{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    background-color: #d4989a;
    padding: 8px 15px;
    margin: 2px;
    cursor: pointer;
}
.font_color{
    color: #fff;
    font-size: 22px;
    height: 22px;
}
.whatsappicon{
    position: relative;
    top: 2px;
}
[data-tooltip] {
    position: relative;
    cursor: pointer;
  }
  [data-tooltip]:before {    
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    width: 50px;
    transform: translateX(-42%);
    bottom: 33px;
    padding: 0.5em;
    background-color: black;
    border-radius: 0.25em;
    color: #fff;
    text-align: center;
    transition: 0.2s;
    font-size: 10px;
    font-family: Raleway-SemiBold;
}
[data-tooltip]:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -14px;
    margin-left: -10px;
    border: 5px solid black;
    border-color: black transparent transparent transparent;
    transition: 0.2s;
}
  [data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1; 
}
.activeProduct{
    border: 3px solid #d4989a;
}
.activeProduct h2{
    font-family: Raleway-Bold;
    color: #000;
    font-size: 30px;
    padding: 10px 0;
    background-color: #d4989a;
}
.activeProduct h1{
    font-family: Raleway-Bold;
    color: #000;
    font-size:40px;
    padding: 0;
    margin: 0;
}
.two_one{
    font-size: 50px;
    font-family: Raleway-Bold;
}
.activeImg{
    height: 100px;
}
.activeProduct img{
    width: 100px;
}
/********************** Invest your skin ****************/
.investInYourSkin{
    width: 100%;
    float: left;
    background: #000;
    padding: 30px 0;
    text-align: center;
}
.investInYourSkin h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: Raleway-Light;
}
/********************** Who Are We ****************/
.whoAreWe{
    width: 100%;
    float: left;
    background: #d4989a;
    padding: 50px 0;
}
.teamtxt{
    width: 100%;
    float: left;
    text-align: center;
}
.teamtxt h1{
    font-family: Raleway-Medium;
    font-size: 24px;
    color: #010101;
    padding-top: 30px;
}
.teamtxt p{
    font-family: Raleway-Regular;
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    display: block;
    padding: 35px 7%;
}
.teamsMember{
    display: flex; /* equal height of the children */
    padding-top: 20px;
    text-align: center;
    clear: both;
}
.teampic{  
    flex: 1; /* additionally, equal width */
    margin: 10px; 
}
.teampic p{
    padding-top: 20px;
    font-size: 14px;
    font-family: Raleway-Regular;
    color: #000;
}
.estArts{
    color: #fff;
}

/********************** Footer ****************/
.footer{
    width: 100%;
    float: left;
    background-color: #000000;
    padding: 20px 0 10px 0;
    color: #f4f4f5;
    font-size: 12px;
}
.ftnav{
    width: 100%;
    float: left;
    text-align: right;
}
.ftnav ul{
    list-style: none;
}
.ftnav ul li{
    display: inline-block;
}
.ftnav ul li a{
    color: #f4f4f5;
}
@media only screen and (max-width: 768px) {
.footer{
    text-align: center;
}
.row_container {
    display: block;
}

  }

@media only screen and (max-width: 330px) {
}
@media only screen and (max-width: 280px) {
}

